<!DOCTYPE html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <link rel="stylesheet" href="{{themepath}}/css/normalize.css">
        <link rel="stylesheet" href="{{themepath}}/css/style.css">
    </head>
    <body>
        <header>
            <h1>{{ site_title }}</h1>
            <nav>
                <ul>
                    {% for item in navItems %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            {% if posts is not empty %}
                <div class="blogpost">
                    <h2><a href="">Uberschrift</a></h2>
                    <article>
                        Content
                    </article>
                </div>
            {% else %}
                <p>No Blogposts found.</p>
            {% endif %}
        </main>
    </body>
</html>