<!DOCTYPE html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <link rel="stylesheet" href="{{themepath}}/css/normalize.css">
        <link rel="stylesheet" href="{{themepath}}/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% for item in navItems %}
                        <li class="{{ current_path starts with item.url ? 'active' : '' }}">
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
    </body>
</html>