<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="h-full">
    <div class="flex min-h-full flex-col">
      <header class="mx-auto w-full max-w-7xl px-6 pt-6 lg:px-8">
        <nav class="flex items-center justify-between" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="/" class="flex items-center gap-2 -m-1.5 p-1.5">
              <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="{{ site_title }}">
              <span class="text-lg font-semibold text-gray-900">{{ site_title }}</span>
            </a>
          </div>
          <div class="flex lg:hidden">
            <button id="menu-open" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Open main menu</span>
              <!-- Hamburger Icon -->
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <a href="/blog" class="text-sm/6 font-semibold text-gray-900">Blog</a>
            <a href="/timeline" class="text-sm/6 font-semibold text-gray-900">Timeline</a>
            <a href="/map" class="text-sm/6 font-semibold text-gray-900">Map</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Company</a>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="fixed inset-0 z-10 hidden overflow-y-auto bg-white px-6 py-6 lg:hidden">
          <div class="flex items-center justify-between">
            <a href="/" class="flex items-center gap-2 -m-1.5 p-1.5">
              <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="{{ site_title }}">
              <span class="text-lg font-semibold text-gray-900">{{ site_title }}</span>
            </a>
            <button id="menu-close" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Close menu</span>
              <!-- Close Icon -->
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-400/10">Blog</a>
                <a href="/timeline" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-400/10">Timeline</a>
                <a href="/map" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-400/10">Map</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-400/10">Company</a>
              </div>
            </div>
          </div>
        </div>      
      </header>

  <main class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-center px-6 py-24 sm:py-64 lg:px-8">
    <p class="text-base/8 font-semibold text-indigo-600">404</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-6xl">Page not found</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Sorry, we couldn’t find the page you’re looking for.</p>
    <div class="mt-10">
      <a href="/" class="text-sm/7 font-semibold text-indigo-600"><span aria-hidden="true">&larr;</span> Back to home</a>
    </div>
  </main>

</div>
<script type="text/javascript" src="{{themepath}}/js/nav.js"></script>
</body>
</html>